<section class="reset-section">
    <img src="./assets/images/freshcart-logo.svg" alt="Logo" class="reset-logo">
    <h1 class="reset-title">Reset Your Password</h1>
    <div class="background-wrapper">
     
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="handleButton()" class="reset-form">
        <div class="form-group mb-4"> 
            <label for="email" class="reset-label">Email:</label>
            <input formControlName="email" type="email" id="email" class="form-control reset-input" placeholder="Enter your email">
            <div class="alert alert-danger" *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched">
                <p *ngIf="resetForm.get('email')?.getError('required')">Email is required</p>
                <p *ngIf="resetForm.get('email')?.getError('email')">Invalid email format</p>
            </div>
        </div>

        <div class="form-group mb-4"> 
            <label for="password" class="reset-label">New Password:</label>
            <input formControlName="newPassword" type="password" id="password" class="form-control reset-input" placeholder="Enter your new password">
            <div class="alert alert-danger" *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched">
                <p *ngIf="resetForm.get('newPassword')?.getError('required')">Password is required</p>
                <p *ngIf="resetForm.get('newPassword')?.getError('pattern')">Password should start with an uppercase letter and be 6-20 characters long</p>
            </div>
        </div>

        <button class="btn btn-primary reset-btn" [disabled]="resetForm.invalid || submitting">
            <span  *ngIf="!submitting">Reset</span>
            <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>

        <p *ngIf="msgError" class="alert alert-danger mt-3">{{msgError}}</p>
    </form>
</section>
