<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2" *ngIf="cartDetails ; else name ">
    <div class="d-flex justify-content-between align-item-center">
        <h1>Shop Cart</h1>
        <button (click)="clear()" class="btn btn-sm btn-outline-danger">Clear All</button>
    </div>

<p class="text-main">Total Price: {{cartDetails.totalCartPrice | currency:" EGP "}}</p>
<div class="row border-bottom pb-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-1">
        <img [src]="item.product.imageCover" class="w-100" alt="">
    </div>
    <div class="col-md-11">
   <div class="d-flex justify-content-between align-items-center">   
    
 

    <div>
        <h3 class="h5"> {{item.product.title}}</h3> <p class="text-main m-0">Price:{{item.price}}</p> accordion 
        <button class="btn p-0 m-0" (click)="removeCartItem(item.product._id)"><i class="fa-regular fa-trash-can"></i> Remove</button>
  </div>




 <div>
  <button class="btn border border-success" #btnAdd (click)="changeCount(item.product._id , item.count + 1 , btnAdd , btnRemove)"> + </button>
  <span>  {{item.count}} </span>
  <button class="btn border border-success" #btnRemove (click)="changeCount(item.product._id , item.count - 1 , btnAdd , btnRemove)"> - </button>
</div>


</div>

   




    </div>

</div>
<button [routerLink]="['/checkout' , cartDetails._id]" class="btn-main mt-3">Online Payment <img src="./assets/images/visa-1.svg" alt=""></button>
</section>
<ng-template #name>
    <div class="empty-cart">
        <img src="../../../assets/images/empty.png" alt="Cart Icon" class="cart-icon">
        <h2>Your Cart Is Empty...</h2>
        <p>Add some items to your cart and start shopping!</p>
        <button class="btn-primary" (click)="goToHome()">Start Shopping</button>
    </div>
</ng-template>
