<footer style="background-color: #f2f2f2; padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p style="font-size: 20px;"><strong>Get the FreshCartApp</strong></p>
                <p style="font-size: 16px;">We Will Send You a Link, Open It On Your Phone</p>
                <div class="d-flex justify-content-center align-items-center">
                    <input type="email" class="form-control mr-2" placeholder="Enter your email">
                    <button class="mx-2 btn-main">Share App Link</button>
                </div>
                <p style="font-size: 14px; color: #555; margin-top: 10px;">© Abdulla Hisham. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
