<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">
    <img class="mx-5" src="./assets/images/freshcart-logo.svg" alt="">
  </a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-auto">
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="home" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="product" routerLinkActive="active-link">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="categories" routerLinkActive="active-link">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="brands" routerLinkActive="active-link">Brands</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link position-relative" routerLink="/wishlist">
          <i class="fa-solid fa-heart fa-2x text-danger"></i>
          <span class="badge bg-info position-absolute top-0 end-0">{{WishNum}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize position-relative" routerLink="cart" routerLinkActive="active-link">
          <i class="fas fa-cart-shopping fa-2x px-2"></i>
          <span class="badge bg-info position-absolute top-0 end-0">{{cartNum}}</span>
        </a>
      </li>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <li class="nav-item">
        <span class="nav-link cursor-pointer" (click)="logOutUser()">Sign Out</span>
      </li>
    </ul>
  </div>
</nav>
