




<div class="container forgetPassword"  *ngIf="showForgetPassword">
    <form [formGroup]="forgetPassword" (ngSubmit)="sendcode(forgetPassword)">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Forgot Password</h2>
                <p>Please enter your email address below. We will send you a link to reset your password.</p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" type="email" id="email" class="form-control" placeholder="Enter your email">
                    <p class="text-main">{{msgSuccess}}</p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>





<div class="container verifyCode" *ngIf="showVerifyCode">
    <form [formGroup]="verifyCode" (ngSubmit)="verifyReset(verifyCode)">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Code Sent to your email</h2>
                <p>Please enter the code you received in your email below.</p>
                <div class="form-group">
                    <label for="code">Code</label>
                    <input formControlName="resetCode" type="text" id="code" class="form-control" placeholder="Enter the code">
                    <p class="text-main">{{msgSu}}</p>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
</div>

